* {
    padding: 0;
}

body {
    background-color: #1d2026;
    color: lightcoral;
    margin: 15px;
}

.light_mode{
    background-color: white;
    color: lightcoral;
}

.light_mode nav a, .light_mode nav span {
    color: #1d2026;
    text-decoration: none;
    font-size: 18px;
}

.light_mode .about_me h1 {
    color: #1d2026;
}

.light_mode .about_me .text.first-text{
    color: #1d2026;
}

.light_mode .btn-primary:hover {
    text-decoration: none;
    background-color: #1d2026;
    color: lightcoral;
}

.light_mode .text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    border-left: 2px solid lightcoral;
    animation: animate 3s steps(12) infinite;
}


.flex_cont {
    display: flex;
}

.flex_item {
    flex:1;
}

.nav_item {
    text-align: center;
}

nav a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
}

nav a:hover {
    text-decoration: none;
    color: lightcoral;
    cursor: pointer;
}

.menu {
    visibility: hidden;
}


.about_me {
    margin-top: 10%;
    font-size: 25px;
}

.about_me h1 {
    font-size: 50px;
    margin-top: 20px;
    margin-left: 10px;
    color: antiquewhite;
}

.about_me .text{
    position: relative;
    color: lightcoral;
    font-size: 50px;
    font-weight: 600;
    margin-left: 10px;
}

.about_me .text.first-text{
    color: antiquewhite;
}

.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1d2026;
    border-left: 2px solid lightcoral;
    animation: animate 3s steps(15) infinite;
}

@keyframes animate{
    40%, 60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}

.my_pic {
    margin-top: 5%;
}

.contact_details h1 {
    font-size: 50px;
    margin-top: 20%;
    color: antiquewhite;
}

.contact_details p{
    font-size: 20px;
    margin: 0px;
}

.light_mode .contact_details h1 {
    font-size: 50px;
    margin-top: 20%;
    color: #1d2026;
}


.contact_form {
    margin-top: 8%;
    margin-right: 30px;
}

form input{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 15px;
    border-radius: 10px;
    background: #262626;
    color: antiquewhite;
}

.btn-primary {
    background-color: lightcoral;
    border: lightcoral;
}

.btn-primary:hover {
    text-decoration: none;
    background-color: antiquewhite;
    color: lightcoral;
}

.contact_details p {
    margin-left: 25px;
}

.pdf-viewer{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    
}